<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            .outer{
            width:900px;
            background-color: black;
            color:white;
            margin: auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="outer">
        <br>
        <h1 align="center">게시판 상세보기</h1>
        <br>
        <table align="center" id="table-area" border="1">
            <tr>
                <td width="100">글번호</td>
                <td width="500">13</td>
            </tr>
            <tr>
                <td>제목</td>
                <td>게시글임다</td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>user01</td>
            </tr>
            <tr>
                <td>조회수</td>
                <td>120</td>
            </tr>
            <tr>
                <td>작성일</td>
                <td>2010-11-01</td>
            </tr>
            <tr>
                <td>내용</td>
                <td><p style="height:100px">

                    게시글 내용

                </p></td>
            </tr>
        </table>
<br>
        <table align="center" border="1">
            <tr>
                <th width="100">댓글 작성</th>
                <td width="400"><textarea name="" id="" cols="50" rows="3"></textarea></td>
                <th width="100"><button>등록</button></th>
            </tr>
            <tr>
                <td colspan="3"><b> 댓글(3) </b></td>

            </tr>
            <tr>
                <td>작성자</td>
                <td>ㅎㅎㅎ 재밌네</td>
                <td>2020-11-13</td>
            </tr>
        </table>
        
        <br><br>



    </div>
    
</body>
</html>