<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .outer{
            width:900px;
            background-color: black;
            color:white;
            margin: auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <!-- 메뉴바 들어갈 예정-->
    <div class="outer">
        <br>
        <h1 align="center">게시판</h1>
        
        <div class="search-area" align="center">
            <form action="#">
                <select name="condition">
                    <option value="writer">작성자</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                </select>
                <input type="text" name="keyword">
                <button type="submit">검색</button>
            </form>
        </div>
        <br><br>

        <table id="list-area" align="center">
            <thead>
                <tr>
                    <th>글번호</th>
                    <th width="400px">제목</th>
                    <th width="100px">작성자</th>
                    <th>조회수</th>
                    <th width="100px">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>글제목</td>
                    <td align="center">user01</td>
                    <td align="center">103</td>
                    <td align="center">2020-11-23</td>
                </tr>
            </tbody>
        </table>
        
        <div id="paging-area" align="center">
            <a href="">[이전]</a>
            <a href="">[1]</a>
            <a href="">[다음]</a>
        </div>

        <br><br>
    </div>
</body>
</html>